$color-nav: #5B605F; // panel boczny, nawigacja
$color-text-col: #4a4a49; // nagłówek, kolor tekstu w kolumnach
$color-bottom: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów
$color-background-screen: #FFFFFA; // kolor tła ekranów
$color-message-info: #3498db; // kolor wiadomości typu info,
$color-message-warning: #FFB03B; // kolor wiadomości typu warning
$color-message-success: #468966; // kolor wiadomości typu success
$color-basket-icon: #BD4932; // kolor ikony kosza
$color-text-tab: #dbdbd2; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji