.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background: $color-nav;
  color: $color-background-screen;
  font-family: $font-primary;
  line-height: 20px;
  padding: 40px;
}

.about__text {
  margin: 20px;
}

.about__image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

//.about__image img {
//  height: 300px;
//  background-color: black;
  //justify-content: center;
  //align-items: center;

//}

p {
  margin-top: 15px;
}
