*{
  box-sizing: border-box;
}

.calltoaction{
  width: 100%;
}

.call_container {
  display: flex;
  align-items: center;
  justify-content: space-around;


  background: $color-nav;
  color: $color-background-screen;
  font-family: $font-primary;
  line-height: 20px;
  height: 150px;


}
.call_text {



}
 p {
  margin-top: 15px;
}

 a {
  text-align: center;


  width: 150px;
  height: 50px;
  color: $color-background-screen;

  line-height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;

}