.footer_container{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background-color: $color-nav;
  max-width: 100%;
  padding: 20px;
  line-height: 20px;
  font-family: $font-primary;
  color: $color-background-screen;
  height: 300px;

}
.footer_text {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  max-width: 400px;
  margin-left: 246px;

  p {
    max-width: 250px;
  }

}

.footer_text2{
  margin-right: -20px;
}
.footer_text3{
  margin-top: 293px;
  margin-right: 207px;
}
  h3 {
    font-size: 1.5rem;
    margin: 20px 0px 15px 0px;
  }

  ul {
    list-style: disc;
  }




.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-text-col;
  padding: 20px;
  text-align: center;
  color: $color-background-screen;
  width: 100%;
  height: 70px;
}

.footer_webpage {
  color: #E58A20;
  margin-top:1px;
}
.footer_form{
  display: flex;
  justify-content: center;
}
.footer_input {

  height: 40px;
  width: 70%;
}

.footer_submit {
  height: 40px;
  width: 30%;
  color: $color-background-screen;

}

.footer_socialmedia {
  font-size: 2rem;
  margin-top: 10px;

  a:first-child {
    margin-left: 0px;

  }

  a {
    margin-left: 40px;
    color: $color-background-screen;
  }
}