*{
  box-sizing: border-box;
}
.footer{
  width: 100%;

}
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-nav;
  color: $color-background-screen;
  line-height: 20px;
  font-family: $font-primary;
  height: 100%;
  width: 100%;
}



h3 {
  font-size: 1.5rem;
  margin: 20px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: disc;

}


.footer_text {
 width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
   width: 100%;
  }

}

.footer_copyright {
  background: $color-text-col;
  text-align: center;
  color: $color-background-screen;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer_webpage {
  color:  #E58A20;
}
body > footer > div.footer_copyright > div{

}
.footer_input {
  display: inline-block;


}

.footer_submit {


  color: $color-background-screen;

}

.footer_socialmedia {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a:first-child {


  }

  a {

    color: $color-background-screen;
  }
}
body > div > footer > div.footer_container > div:nth-child(3) > div.footer_socialmedia > a > i{
  width: 100%;
  padding:0;
  font-size: 1rem;
}