section.notification-w-container {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;


  ul.notification-w-list {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



    li.notification-w-info {
      @extend %baseWidgetLiStyling;
      border:2px dotted $color-message-info;
      color:$color-message-info;
      transition: 1s;



      animation: fadeInFromNone 1s ease-out;
    }



      100% {
        display: block;
        opacity: 1;
      }
    }

    @keyframes fadeInFromNone {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }

    }
    li.notification-w-warning {
      @extend %baseWidgetLiStyling;
      border:2px dotted $color-message-warning;
      color:$color-message-warning;
      animation: fadeInFromNone 1s ease-out;
    }



  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }

}

    li.notification-w-success {
      @extend %baseWidgetLiStyling;
      border:2px dotted $color-message-success;
      color:$color-message-success;
      animation: fadeInFromNone 1s ease-out;
    }



100% {
     display: block;
     opacity: 1;
   }


@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }

}




%baseWidgetLiStyling {

  font-size: $font-base-size*1;
  font-weight:700;
  font-family: $font-primary;
  width: 100%;
background:$color-background-screen;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position:relative;
  padding:0 5px;
  box-sizing: border-box;
}

.widget-icon{
  padding:0 5px;
  font-size:$font-base-size*2.5;

}

.widget-close{
  font-size: $font-base-size*1.5;
align-self: flex-start;
  padding:5px;
  position:absolute;
  left:100%;
  transform: translate(-100%,0);
}