@import 'development/scss/generic/reset';
@import 'development/scss/settings/colors';
@import 'development/scss/settings/fonts';

body{
  line-height: 2;
}

  .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: white url("../../images/backgroundpage2.png");
}

.header-container {
  height: 100px;
  background: $color-text-col;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 95%;
  display: flex;
  justify-content: space-between;

}

header > h2 {
  color: white;
  font-family: $font-logo;
  font-size:$font-base-size*1.5;

  &:after {
    content: "Jedzonko";
    color: $color-bottom;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.5rem;

  i {
    font-size: 3rem;
    color: orange;
  }

}

.aside-container {
  background: $color-nav;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #262424;

  .nav-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    li {

      display: flex;
      align-items: center;
      height: 60px;

      &:hover {
        cursor: pointer;
      }

    }

    .used-li {
      border-left: 4px solid $color-bottom;

      &:after {

        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 700;
        content: "\f054";
        color: $color-bottom;
        right: 0;
        position: absolute;
      }
    }
  }
}


a {
  display: flex;
  align-items: center;
  padding: 0 $font-base-size;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.5rem;

 &:focus{
   outline:none;
 }
}


.main-content {
  width: 100%;

}

.mid-container {

  display: flex;
  height: calc(100% - 100px);
}

.desktop {
  display: none;
  width: 100%;
  height: 100%;
  background-color: green;
}

.recipes {
  display: none;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.plans {
  display: none;
  width: 100%;
  height: 100%;
  background-color: blue;
}

